addict==2.4.0+computecanada
albumentations==0.5.2
apex==0.1
catboost==0.24+computecanada
certifi==2021.10.8
charset-normalizer==2.0.7
cloudpickle==2.0.0+computecanada
cycler==0.10.0+computecanada
dask==2021.9.1
efficientnet-pytorch==0.3.0
fsspec==2021.10.1
future==0.18.2+computecanada
graphviz==0.17+computecanada
idna==3.3
imageio==2.9.0+computecanada
imgaug==0.4.0+computecanada
joblib==1.1.0
kaggle==1.5.12
kiwisolver==1.3.1+computecanada
lightgbm==3.2.1+computecanada
locket==0.2.1+computecanada
matplotlib==3.4.2+computecanada
munch==2.5.0+computecanada
networkx==2.6.3+computecanada
numpy==1.21.2+computecanada
opencv-python==4.5.1.48+computecanada
opencv-python-headless==4.5.3.56+computecanada
packaging==21.0+computecanada
pandas==1.3.0+computecanada
partd==1.2.0+computecanada
Pillow==8.3.1+computecanada
Pillow-SIMD==7.0.0.post3+computecanada
plotly==5.3.1+computecanada
pretrainedmodels==0.7.4+computecanada
pydicom==2.2.2
pyparsing==2.4.7+computecanada
python-dateutil==2.8.2+computecanada
python-slugify==5.0.2+computecanada
pytz==2021.3+computecanada
pywavelets==1.1.1+computecanada
PyYAML==5.4.1+computecanada
qudida==0.0.4
requests==2.26.0+computecanada
scikit-image==0.18.2+computecanada
scikit-learn==0.24.2+computecanada
scipy==1.7.1+computecanada
Shapely==1.7.1+computecanada
six==1.16.0+computecanada
sklearn==0.0+computecanada
tenacity==8.0.1+computecanada
text-unidecode==1.3+computecanada
threadpoolctl==3.0.0+computecanada
tifffile==2021.10.12
toolz==0.11.1+computecanada
torch==1.6.0+computecanada
torchaudio==0.7.2+computecanada
torchvision==0.8.2+cu110
tqdm==4.62.3
typing-extensions==3.10.0.2+computecanada
urllib3==1.26.7+computecanada
xgboost==1.0.2+computecanada
